{% load static %} {% load socialaccount %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'recipes/style.css' %}"> -->
<style>
    header {
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        /* Height of the footer*/
        height: 60px;
        background: lightgrey;
    }

    label {
        display: block;
        padding: 20px, 10px, 10px, 10px;
    }

    body {
        background-image: linear-gradient(#7e8d85, #b3bfb8);
    }

    a[href] {
        font-family: 'Copperplate';
        color: #3C493F;
    }
</style>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand abs" href="{% url 'recipes:home' %}">Word of Mouth</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recipes:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recipes:feed' %}">Feed</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recipes:post' %}">Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recipes:saved_posts' %}">Saved</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recipes:my_posts' %}">My Posts</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://a12-word-of-mouth.herokuapp.com/logout">Logout</a>
                    </li>
                </ul>
                {% else %}
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</head>

<div class="container">
    <div class="row justify-content-md-center pt-5">
        <div class="col-md-7 d-flex justify-content-between">
            <h2 class="card-title">{{recipe.title}}</h2>
            <div class="pull-right">
                <a href="{% url 'recipes:editpost' recipe.id  %}" class="btn btn-success" name="edit_button"
                    style="font-family: 'Courier';color: #FFFFFF;">Edit</a>
                <a href="{% url 'recipes:delete' recipe.id  %}" class="btn btn-danger" name="del_button"
                    style="font-family: 'Courier';color: #FFFFFF;">Delete</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <img src="{{recipe.recipe_image.url}}" class="card-img-top"
                    style="max-width:auto; max-height:30rem; object-fit: cover;">
            </div>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Author: {{recipe.author}}</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cook time: {{recipe.cook_time}} minutes</li>
                <li class="list-group-item">Servings: {{recipe.servings}}</li>
                <li class="list-group-item">Published: {{recipe.pub_date}}</li>
                <li class="list-group-item">Ingredients: {{recipe.ingredients}}</li>
                <li class="list-group-item">Instructions: {{recipe.intro}}</li>
            </ul>
        </div>
    </div>
</div>